html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "courrier new", sans-serif;
    background-color :lightgrey;
}
h1 {
    font-size: 24px;
    text-align: center;
    font-style: italic;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}
h2 {
    font-size: 20px;
    text-align: center;
    font-style: italic;
}
h3 {
    font-size: 18px;
    text-align: center;
    font-style: italic;
}
p {
    text-align: center;
}
img {
    display: block;
    max-width:500px;
    max-height:500px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
.profile {
    border: 3px solid black;
    border-radius: 4px;
    padding: 5px;
}
.citation {
    font-size: 20px;
    text-align: center;
    font-style: italic; 
    text-decoration: underline;
}
table{
    margin-left: auto;
    margin-right: auto;
}
th, td {
    border: 1px solid;
    width: 50%;
    text-align: center;
} 
div{
    display:flex;
    flex-direction:row;
    margin-left: 600px;
    /*a besoin de responsive car ne s'adpate pas en fonction de la resolution l'écran */
}
